.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from{opacity:.4}
    to{opacity: 1}
}
@keyframes fade {
    from{opacity:.4}
    to{opacity: 1}
}
